@import "tailwindcss";

:root {
  &.dark {
    color-scheme: dark;
  }

  &.light {
    color-scheme: light;
  }

  --semantic-background: light-dark(
    theme(colors.zinc.50),
    theme(colors.neutral.950)
  );
  --semantic-foreground: light-dark(
    theme(colors.zinc.900),
    theme(colors.zinc.100)
  );
  --semantic-border: light-dark(theme(colors.zinc.400), theme(colors.zinc.800));
  --semantic-border-strong: light-dark(
    theme(colors.zinc.300),
    /* theme(colors.zinc.600) */ theme(colors.green.500)
  );
  --semantic-surface: light-dark(theme(colors.white), theme(colors.zinc.900));
  --semantic-surface-hover: light-dark(
    theme(colors.zinc.100),
    theme(colors.zinc.800)
  );
  --semantic-placeholder: light-dark(
    theme(colors.zinc.400),
    theme(colors.zinc.500)
  );
  --semantic-focus: theme(colors.zinc.500);
  --semantic-button-primary: light-dark(
    theme(colors.zinc.900),
    theme(colors.zinc.100)
  );
  --semantic-button-primary-fg: light-dark(
    theme(colors.white),
    theme(colors.zinc.900)
  );
  --semantic-button-primary-hover: light-dark(
    theme(colors.zinc.800),
    theme(colors.zinc.200)
  );
  --semantic-neutral-bg: light-dark(
    theme(colors.zinc.200),
    theme(colors.zinc.700)
  );
  --semantic-neutral-fg: light-dark(
    theme(colors.zinc.600),
    theme(colors.zinc.300)
  );
}

@theme inline {
  --font-sans: "Ubuntu";
  --font-mono: "Noto Sans";
  --font-heading: "Rubik";

  --color-background: var(--semantic-background);
  --color-foreground: var(--semantic-foreground);
  --color-border: var(--semantic-border);
  --color-border-strong: var(--semantic-border-strong);
  --color-surface: var(--semantic-surface);
  --color-surface-hover: var(--semantic-surface-hover);
  --color-placeholder: var(--semantic-placeholder);
  --color-focus: var(--semantic-focus);
  --color-button-primary: var(--semantic-button-primary);
  --color-button-primary-fg: var(--semantic-button-primary-fg);
  --color-button-primary-hover: var(--semantic-button-primary-hover);
  --color-neutral-bg: var(--semantic-neutral-bg);
  --color-neutral-fg: var(--semantic-neutral-fg);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--semantic-background);
  color: var(--semantic-foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}
