@import "tailwindcss";

:root {
  &.dark {
    color-scheme: dark;
  }

  &.light {
    color-scheme: light;
  }
}

@theme inline {
  --font-sans: "Ubuntu";
  --font-mono: "Noto Sans";
  --font-heading: "Rubik";

  --color-background: light-dark(
    theme(colors.zinc.50),
    theme(colors.neutral.950)
  );
  --color-foreground: light-dark(
    theme(colors.zinc.900),
    theme(colors.zinc.200)
  );
  --color-neutral-bg: light-dark(
    theme(colors.zinc.200),
    theme(colors.zinc.700)
  );
  --color-neutral-selected-bg: light-dark(
    theme(colors.zinc.100),
    theme(colors.zinc.500)
  );
  --color-neutral-fg: light-dark(
    theme(colors.zinc.900),
    theme(colors.zinc.200)
  );
  --color-border: light-dark(theme(colors.stone.300), theme(colors.zinc.800));
  --color-border-strong: light-dark(
    theme(colors.zinc.300),
    theme(colors.zinc.600)
  );
  --color-surface: light-dark(theme(colors.white), theme(colors.zinc.900));
  --color-placeholder: light-dark(
    theme(colors.zinc.400),
    theme(colors.zinc.500)
  );
  --color-focus: theme(colors.zinc.500);

  --color-button-primary-bg: light-dark(
    theme(colors.zinc.700),
    theme(colors.zinc.400)
  );
  --color-button-primary-fg: light-dark(
    theme(colors.white),
    theme(colors.zinc.800)
  );
  --color-button-primary-hover: light-dark(
    theme(colors.zinc.900),
    theme(colors.zinc.200)
  );
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}
